<div class="analysis-result">
  <% if (analysis) { %>
    <pre class="bg-light p-3 border rounded"><%= analysis %></pre>
  <% } else { %>
    <div class="text-danger">Error generating analysis.</div>
  <% } %>
</div>