<ul>
  <% results.forEach(result=> { %>
    <li>
      <button type="button" hx-get="/company/<%= result.company_number %>" hx-trigger="click"
        hx-target="#company-details" hx-swap="innerHTML">
        <%= result.title %> - <%= result.company_number %>
      </button>

    </li>
    <% }) %>
</ul>